init-author-name=Eugene Maslovich
init-author-email=ehpc@ehpc.io
init-author-url=http://ehpc.io/
init-license=MIT
save-exact=true
//registry.npmjs.org/:_authToken=9123110a-d216-4dd8-b41d-815624673f7f
